@font-face{
    font-family: Raleway;
    src: url("fonts/Raleway-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}
@font-face{
    font-family: Raleway;
    src: url("fonts/Raleway-Light.ttf");
    font-style: normal;
    font-weight: 300;
}
@font-face{
    font-family: Comfortaa;
    src: url("fonts/Comfortaa-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}






.thumnail img{
    border-radius: 100%;
}
.container{
    display: flex;
    height: auto;
    text-align: center;
    margin-left: 11%;
    flex-wrap: wrap;
}
.text{
    width: 760px;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: bold;
    margin-left: 30px;
}
.article:nth-child(2) .text{
    margin-right: 30px;
}
.article{
    display: flex;
    margin-bottom: 60px;
}
.article:nth-child(2n){
    display: flex;
    flex-direction: row-reverse;
}
.thumnail p {
    width: 281px;
    font-family: Raleway;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.article span{
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #732794
}



@media only screen and (max-width: 1280px){

    .container{
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 800px){

    .article{
         flex-direction: column;
     }
    .article:nth-child(2n){
        flex-direction: column;
    }
    .thumnail p{
        margin-left: 30%;
    }

}